.main-header, .intro img, .primary, .skills, .footer-bottom {
  text-align: center;
  margin: auto; }

.intro img {
  content: " ";
  display: table;
  clear: both; }

.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  margin: 0;
  min-width: 300px;
  width: auto !important;
  /* Firefox will set width as auto */
  width: 1000px;
  font-family: "Open Sans", sans-serif; }

footer {
  background-color: #2980B9; }

.container {
  background-color: #2980B9; }

.main-header {
  width: 90%; }
  @media (min-width: 1024px) {
    .main-header {
      max-width: 1150px;
      text-align: center;
      margin: 0 auto; } }

.name {
  margin-top: 0px;
  padding-top: 1em;
  color: #fff; }
  @media (min-width: 1024px) {
    .name {
      float: left; } }

.main-nav {
  padding-left: 0; }
  @media (min-width: 1024px) {
    .main-nav {
      float: right; } }
  .main-nav li {
    margin: 5px 0;
    padding: 0; }
    @media (min-width: 768px) {
      .main-nav li {
        display: inline-block; } }
  .main-nav a {
    background-color: #fff;
    display: block;
    padding: 10px 20px;
    color: black; }
    @media (min-width: 768px) {
      .main-nav a {
        font-size: 1.6em;
        color: #fff;
        background-color: inherit; } }
  .main-nav a:hover {
    color: #bed8ea; }

.intro {
  font-size: 1.25em;
  color: #fff;
  width: 90%;
  text-align: center;
  margin: 2em auto 0;
  padding-bottom: 2em; }
  @media (min-width: 768px) {
    .intro {
      margin-top: 0; } }
  @media (min-width: 1024px) {
    .intro {
      max-width: 1150px;
      text-align: center;
      margin: 0 auto; } }
  .intro img {
    width: 100%; }
    @media (min-width: 768px) {
      .intro img {
        float: right;
        width: 35%; } }
  @media (min-width: 768px) {
    .intro-text {
      text-align: left;
      font-size: 1.1em;
      width: 60%; } }

.primary {
  width: 90%; }
  @media (min-width: 1024px) {
    .primary {
      max-width: 1150px;
      text-align: center;
      margin: 0 auto; } }
  .primary img {
    width: 90%; }
  .primary-list {
    padding: 0; }
    @media (min-width: 768px) {
      .primary-list li {
        float: left;
        width: 45%;
        text-align: center;
        margin: 0 2.5%; } }
    @media (min-width: 1024px) {
      .primary-list li {
        width: 30%;
        margin: 10px 1.66%; } }
    @media (min-width: 768px) {
      .primary-list li:nth-child(2n+1) {
        clear: both; } }
    @media (min-width: 1024px) {
      .primary-list li:nth-child(2n+1) {
        clear: none; } }
    @media (min-width: 1024px) {
      .primary-list li:nth-child(3n+1) {
        clear: both; } }

.skills {
  width: 90%;
  max-width: 1150px; }
  .skills img {
    width: 90%; }
  .skills-list {
    padding: 0; }
    @media (min-width: 768px) {
      .skills-list li {
        float: left;
        width: 45%;
        text-align: center;
        margin: 0 2.5%; } }
    @media (min-width: 768px) {
      .skills-list li {
        width: 30%;
        margin: 10px 1.66%; } }
    @media (min-width: 768px) {
      .skills-list li:nth-child(2n+1) {
        clear: both; } }
    @media (min-width: 1024px) {
      .skills-list li:nth-child(2n+1) {
        clear: none; } }
    @media (min-width: 1024px) {
      .skills-list li:nth-child(3n+1) {
        clear: both; } }

.sub-header {
  font-weight: 700;
  margin: 15px 0px 0px; }
  @media (min-width: 1024px) {
    .sub-header {
      font-size: 1.4em; } }

.sub-text {
  margin: 10px auto 25px;
  width: 85%;
  text-align: center; }
  @media (min-width: 1024px) {
    .sub-text {
      font-size: 1.2em; } }

/* ID's ----------------------*/
/* Main-content ----*/
#portfolio,
#skills {
  font-size: 1.5em; }

#skills {
  margin: 20px auto; }

@media (min-width: 768px) {
  #portfolio {
    display: block;
    border-bottom: none; } }
@media (min-width: 1024px) {
  #portfolio {
    font-size: 2.2em;
    font-weight: 500;
    text-transform: none; } }

.main-footer {
  width: 90%;
  text-align: center;
  margin: 10px auto 0;
  padding: 10px 0px 0px;
  color: #fff; }
  @media (min-width: 768px) {
    .main-footer {
      font-size: 1.1em; } }

.contact {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .contact-info {
      width: 50%;
      text-align: center;
      margin: auto; } }
  .contact-information {
    padding: 0 0 40px;
    margin-top: 35px; }
    .contact-information li {
      margin-bottom: 10px; }
    .contact-information a {
      color: #ffff00; }

.footer-bottom {
  border-top: 1px solid grey;
  width: 90%;
  max-width: 1150px; }
.footer-name {
  font-size: 1em;
  color: #fff;
  font-style: normal;
  margin: 15px 0px 20px 20px;
  display: inline-block;
  float: left; }
  @media (min-width: 768px) {
    .footer-name {
      font-size: 1.2em; } }
.footer-nav {
  float: right;
  margin: 15px 20px 10px 0;
  padding: 0; }
  .footer-nav a {
    font-size: 1.2em;
    font-weight: 800;
    color: #fff;
    margin: 0 5px;
    padding: 10px 5px;
    text-transform: uppercase; }
  .footer-nav a:hover {
    color: #bed8ea; }

.desktop {
  display: none; }
  @media (min-width: 768px) {
    .desktop {
      display: inline-block; } }

.mobile {
  font-size: .8em; }
  @media (min-width: 768px) {
    .mobile {
      display: none; } }

/*# sourceMappingURL=application.css.map */
