// =========================================
//  Mixins
// =========================================

@mixin font-style ($size: null, $weight: null, $color: null, $style: null) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-style: $style;
}
