// =========================================
//  Variables
// =========================================

// ==== Colors ====

$color-primary       : #2980B9;

$black               : black;
$grey                : grey;
$silver              : #c0c0c0;
$spindle             : #bed8ea;
$white               : #fff;
$yellow              : #ffff00;

// ==== Fonts ====

 $font-stack-primary : 'Open Sans', sans-serif;

// ==== Media Breakpoints ====

$brk-m               : "(min-width: 768px)";
$brk-l               : "(min-width: 1024px)";
